.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding:  20px 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .navbar li a:hover {
    background-color: #4CAF50;
  }
  
  